.filterList {
    width: 20%;
    margin-right: 50px;
}

.filterList__input {
    display: flex;
    margin-bottom: 20px;
}

.filterList__input:last-of-type {
    margin: 0;
}

.input {
    border-radius: 5px;
}

.label {
    margin-right: 5px;
}